


body {background-image:url("mastermind.jpg");
    background-size: cover;
    padding: 0;
    margin: 0;
    text-align: center;
    display:block;
    justify-content: center;
    align-items: center;
}

.masthead-heading,
.masthead-intro {
  text-align: center;
}


  
  .masthead-intro {
      margin-bottom: 0.1em;
      font-size: 2em;
      color: azure;
      text-shadow: 0 0 20px #ff005b;
      text-transform: uppercase;
  }
  
  .masthead-heading {
      margin-top: -0.2em;
      font-weight: bold;
      font-size: 6em;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: azure;
      text-shadow: 0 0 20px #ff005b;
  }

.introduction{
      display: block;
      margin: 80px;
      padding: 0;
      text-align: center;
      color: orange;
      text-transform: uppercase;
      text-shadow: 0 0 20px #ff005b;
      filter: brightness(40px);
      
  }

.btn{
        border: none;
        background-color:orange;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
          0px;
        color: hsl(0, 0%, 100%);
        display: inline-block;
        font-size: 22px;
        line-height: 22px;
        margin: 16px 16px 16px 20px;
        padding: 14px 34px;
        text-align: center;
        cursor: pointer;
        
    }
    
    .btn:hover{
      transform: scale(1.13);
      background-color: green;

    
  

    }
    .container{
      width: 800;
      max-width: 80%;
      background-color: white;
      border: radius 5px; ;
      box-shadow: 0 0 10px 2px;;
      color: black;
      font-size: 20px;
      font-weight: bolder;
    }

    .btn-grid{
      display: grid;
      grid-template-columns: repeat(2,auto);
      gap: 10px;
    }
    .hide{
      display: none;
    }
   
    }




   